/DezSys07_Taschner_Weinb_5BHIT.aux
/DezSys07_Taschner_Weinb_5BHIT.lof
/DezSys07_Taschner_Weinb_5BHIT.log
/DezSys07_Taschner_Weinb_5BHIT.lol
/DezSys07_Taschner_Weinb_5BHIT.lot
/DezSys07_Taschner_Weinb_5BHIT.out
/DezSys07_Taschner_Weinb_5BHIT.synctex.gz
/DezSys07_Taschner_Weinb_5BHIT.toc
/~WRL0005.tmp
